#counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#color-block {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
